---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import Divider from "../../components/Divider.astro";

import { colorVariants } from "../colors.ts"
const colorVariant = [
  "red",
  "blue",
  "green",
  "orange",
  "yellow",
][ Math.floor(Math.random()*(5)) ]
console.log(colorVariant);

let years: number[] = [];
for (let i=new Date().getFullYear(); i > 2020; i--) {
  years.push(i);
}

const blog = await getCollection('blog');
const weekly = await getCollection('weekly');
const stories = await getCollection('stories');

const allWriting = Array.from(new Set([blog[0], weekly[0], stories[0]].concat(blog, weekly, stories)));
allWriting.sort((a, b) => {
    let aDate = a.collection == "blog" ? a.data.published : a.data.published;
    let bDate = b.collection == "blog" ? b.data.published : b.data.published;
    return (new Date(aDate) < (new Date(bDate)) ? 1 : -1);
})

const topics = Array.from(new Set(blog
  .map(post => post.data.topics)
  .flat()))
  .sort((a, b) => (
    a > b ? 1 : -1
  ));
---

<Layout title="Writing" description="Archive of all essays written by Yash Karthik" colorVariant={colorVariant}>
  <main class="self-center font-serif
  ">

    <header class="
      items-start text-start 
    ">
      <h1 class="
        sm:text-3xl text-3xl 
        font-serif-styled font-black
      ">
        Writing
      </h1>

      <p class="mt-1 text-md italic pl-2">
        Programming; <br>
        University life. <br>
      </p>
    </header>

    <article class="py-3">
      {years.map(year => (
        <section>
          <h2 class="text-2xl mt-5 font-serif-styled font-bold">{year}</h2>

          <div class="flex flex-col">
            {allWriting.map(writing => {
              if (new Date(writing.data.published).getFullYear() == year) {

                return <p class="
                  font-mono text-zinc-400 dark:text-zinc-500 my-1
                ">
                  *
                  <a href={
                    writing.collection == "blog" ? "/archive/" + writing.slug
                      : writing.collection == "stories" ? "/archive/stories/" + writing.slug
                        : "/archive/weekly/" + writing.slug
                  } class="
                    w-fit mt-3 font-serif
                    text-zinc-700 dark:text-stone-300
                    hover:underline decoration-2 decoration-dotted underline-offset-2
                    decoration-zinc-400 dark:decoration-zinc-500
                  ">
                    {writing.data.title}
                  </a>
                </p>
              }
            })
            }
          </div>

        </section>
      ))}
    </article>

  </main>
</Layout>
