---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from 'astro:content';

const allBlogPosts = await getCollection('blog');
allBlogPosts.sort((a, b) => (
  (new Date(a.data.started)) < (new Date(b.data.started)) ? 1 : -1
));
---

<Layout title="Writing" description="Archive of all essays written by Yash Karthik">
  <main class="self-center font-serif
  lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none
  ">
    <article class="flex flex-col">
      <h1 class="
      text-3xl font-bold
      mt-10 mr-2 pr-2
      ">
        Writing
      </h1>
      <p class="
      my-2 pb-2
      italic font-logo font-semibold
      text-zinc-500 dark:text-zinc-400 
      ">
        I write about programming, technology,
        physics, and even some sci-fi.
      </p>
    </article>

    <header class=`
      flex flex-col gap-1
      items-end text-end 
      pr-5
      border-r border-dotted border-zinc-400 dark:border-zinc-500
      ${frontmatter.title.length > 25 ? 'col-span-4' : 'col-span-3'}
    `>
      <h1 class="
      md:text-7xl sm:text-4xl text-3xl 
      font-heading tracking-tight
      ">
        Writing
      </h1>

      <p class="mt-1 text-md italic text-zinc-500 dark:text-zinc-400">
        I write about programming, technology,
        physics, and even some sci-fi.
      </p>
    </header>

    <div class=`
    pl-5 mt-2 text-start
    italic
    col-end-8
    ${frontmatter.title.length > 25 ? 'col-start-5' : 'col-start-4'}
    `>
      LoremEt ut sed tempora est doloremque temporibus. Quae non aut aut eos quo rem. Quia officia et ipsa distinctio vitae qui sed. Dolorem voluptas sed debitis est ad quasi iure. Omnis et nulla amet dolores saepe voluptas ea. Enim repudiandae ipsa sint quam ullam tempora voluptatibus tenetur.
    </div>

    <article class="">
      <div class="flex flex-col">
        {allBlogPosts.map(blog => (
          <a href={"/archive/" + blog.slug} class="
          group ml-5 my-3 w-fit
          ">
            <p class="text-2xl group-hover:text-violet-700 dark:group-hover:text-violet-400">
              {blog.data.title}
            </p>
            <div class="
            font-light first-letter:uppercase
            ">
                {blog.data.completionLevel + " note"}
              •
              {blog.data.updated ? blog.data.updated : blog.data.started}
            </div>
          </a>
        ))
        }
      </div>
    </article>
  </main>
</Layout>
