---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <div class="self-center flex flex-row gap-2">
    <p class="font-mono">404</p>
    <p class="font-serif">Page Not Found</p>
  </div>
</Layout>
