---
import Layout from '../layouts/Layout.astro';
import Divider from '../components/Divider.astro';
---

<Layout title="About" description="About Yash Karthik">
  <main class="
    self-center
    font-serif
    max-sm:w-10/12
  ">
    <h1 class="text-2xl mt-10 mb-7 font-bold font-serif-styled">
      My name is Yash Karthik.
    </h1>

    <section class="
      prose prose-zinc dark:prose-invert 
      font-serif self-center my-5 
      prose-headings:font-serif-styled
      prose-headings:text-zinc-700 dark:prose-headings:text-zinc-300 
      dark:prose-a:text-zinc-300
      underline-offset-2 prose-a:decoration-2 
      prose-a:decoration-violet-700 dark:prose-a:decoration-violet-400 
    ">
      <p class="my-7">
        I&rsquor;m a programmer and writer. Solidity and smart contract security are my current focus.
        Outside Ethereum, I build fast and beautiful websites; design efficient and scalable backends;
        and build cute, useless, ugly, usefull robots.
      </p>

      <p class="my-7">
        In 2021, after reading a Twitter thread, I tried out writing. Now, I write about
        everything that captures my interest. A lot of it never leaves my Obsidian vault,
        but ideas that intrigue me most, find their way into my posts here. This year, I&rsquor;m
        tryign to write more fiction. Starting with sci-fi short stories and seeing where it takes me.
      </p>

      <p class="my-7">
        IRL : I live in India<s class="decoration-1"> in my parents basement</s>; I&rsquor;m 18, taking a gap year before college.
      </p>
    </section>

    <div class="py-5">
      <Divider />
    </div>

    <section >
      <h1 class="text-xl mt-10 mb-7 font-bold font-serif-styled">Find me on the interwebs:</h1>
      <ul class="pl-7 list-disc marker:text-zinc-300 dark:marker:text-zinc-700 flex flex-col gap-2">
        <li>
          <div class="flex flex-row items-center gap-1">
            <p>Email:{' '}</p>
            <p class="
              pl-1
              font-mono font-light text-sm
            ">yashkarthik1019 [at] protonmail [dot] com</p>
          </div>
        </li>

        <li>
          GitHub:{' '}
          <a 
            href="https://github.com/yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-violet-700 dark:hover:decoration-violet-400
              underline-offset-2
          ">
            yashKarthik
          </a>
        </li>

        <li>
          Twitter:{" "}
          <a
            href="https://twitter.com/_yashKarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-violet-700 dark:hover:decoration-violet-400
              underline-offset-2
          ">
            _yashKarthik
          </a>
        </li>

        <li>
          Farcaster:{" "}
          <a 
            href="https://www.discove.xyz/@yashkarthik?q=%28from%3Ayashkarthik%29&username=yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-violet-700 dark:hover:decoration-violet-400
              underline-offset-2
          ">
            yashKarthik
          </a>
        </li>

        <li>
          <div class="flex flex-row gap-1">
            <p>Discord:{' '}</p>
            <p class="
              pl-1
              font-mono font-light text-sm
            ">yashkarthik#3846</p>
          </div>
        </li>

        <li>
          YouTube:{' '}
          <a 
            href="https://www.youtube.com/channel/UCokxkaw1HSQKNJPDtJHhDkg"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-violet-700 dark:hover:decoration-violet-400
              underline-offset-2
          ">
            yashKarthik
          </a>
        </li>

        <li>
          Buy me a Coffee:{' '}
          <a 
            href="https://buymeacoffee.com/yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-violet-700 dark:hover:decoration-violet-400
              underline-offset-2
          ">
            yashKarthik
          </a>
        </li>

        <li>
          LinkedIn:{' '}
          <a 
            href="https://www.linkedin.com/in/yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-violet-700 dark:hover:decoration-violet-400
              underline-offset-2
          ">
            Yash Karthik
          </a>
        </li>

        <li>
          Ethereum:{' '}
          <ul class="ml-4 font-mono
            pl-1
            font-mono font-light text-sm
          ">
            <li>yashkarthik.eth</li>
            <li>0x33cc45d8B0336bFA830FB512b54b02a049277403</li>
          </ul>
        </li>
      </ul>
    </section>
  </main>
</Layout>
