---
import Layout from '../layouts/Layout.astro';
import RecentPostsHScroll from '../components/RecentPostsHScroll.astro';
import RecentProjectsHScroll from '../components/RecentProjectsHScroll.astro';
import { projects } from "../content/projects";
---

<Layout title="Yash Karthik" description="Essays and short stories by Yash Karthik.">
  <main class="font-serif my-7 flex flex-col gap-0">
    <div class="
      md:ml-10 ml-6 mr-3
      mt-4 mb-10
      max-w-sm
    ">
      My name is Yash Karthik, I&rsquor;m a programmer and writer.
      Many things capture my interest; I write about them here.
    </div>

    <RecentPostsHScroll />
    <RecentProjectsHScroll />
  </main>
</Layout>
