---
import Layout from '../layouts/Layout.astro';
import SolidComponent from '../components/solid.tsx';

import Projects from "../components/ProjectsFull.astro";

import { colorVariants } from "../colors.ts"
const colorVariant = [
  "blue",
  "green",
  "orange",
  "yellow",
][ Math.floor(Math.random()*(4)) ]
console.log(colorVariant);
---

<Layout title="Yash Karthik" description="Essays and short stories by Yash Karthik." showBars={false} route="/" colorVariant={colorVariant}>
  <main class="font-serif my-7 flex flex-col gap-0 flex-grow">
    <SolidComponent colorVariant={colorVariant} client:load/>
  </main>
</Layout>
