---
import Layout from '../layouts/Layout.astro';
import SolidComponent from './solid';
---

<Layout title="Yash Karthik" description="Essays and short stories by Yash Karthik." showBars={false}>
  <main class="font-serif my-7 flex flex-col gap-0 flex-grow">
    <SolidComponent client:load/>
  </main>
</Layout>

