---
import Layout from '../layouts/Layout.astro';
import RecentPostsHScroll from '../components/RecentPostsHScroll.astro';
---

<Layout title="Yash Karthik" description="Essays and short stories by Yash Karthik.">
  <main class="font-serif my-7 flex flex-col">
    <div class="
      md:ml-10 ml-6 mr-3
      mt-4 mb-10
      max-w-sm
    ">
      My name is Yash Karthik, I&rsquor;m a programmer and writer.
      Many things capture my interest; I write about them here.
    </div>

    <article id="horizontal-scroll" class="
      flex flex-row
      gap-1 md:gap-5 mx-3
      overflow-x-scroll max-sm:snap-mandatory max-sm:snap-x
      md:divide-x
      divide-zinc-300 dark:divide-zinc-600 
      border-b border-zinc-300 dark:border-zinc-600 
    ">
      <RecentPostsHScroll />
    </article>
  </main>
</Layout>

<script>
  const hScroll = document.querySelectorAll("article#horizontal-scroll") as NodeListOf<HTMLElement>;
  if (hScroll) {
    hScroll.forEach((h) => {
      h.addEventListener("wheel", (e: WheelEvent) => {
        e.preventDefault();
        h.scrollLeft += e!.deltaY!;
      })
    });
  };
</script>
