---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Interwebs" description="Where to find Yash on the internet.">
  <main class="self-center">
    <h1 class="text-xl my-10 font-serif">Find me on the internet:</h1>
     <ul class="list-disc flex flex-col gap-2">
          <li>
            <div class="flex flex-row gap-1">
              <p>Email:{' '}</p>
              <p class="font-mono">yashkarthik1019 [at] protonmail [dot] com</p>
            </div>
          </li>

          <li>
            GitHub:{' '}
            <a 
              href="https://github.com/yashkarthik"
              target="_blank"
              class="font-mono underline decoration-2 decoration-violet-700 dark:decoration-violet-400
              underline-offset-2"
            >
              yashKarthik
            </a>
          </li>

          <li>
            Twitter:{" "}
            <a
              href="https://twitter.com/_yashKarthik"
              target="_blank"
              class="font-mono underline decoration-2 decoration-violet-700 dark:decoration-violet-400
              underline-offset-2"
            >
              _yashKarthik
            </a>
          </li>

          <li>
            Farcaster:{" "}
            <a 
              href="https://www.discove.xyz/@yashkarthik?q=%28from%3Ayashkarthik%29&username=yashkarthik"
              target="_blank"
              class="font-mono underline decoration-2 decoration-violet-700 dark:decoration-violet-400
              underline-offset-2"
            >
              yashKarthik
            </a>
          </li>

          <li>
            <div class="flex flex-row gap-1">
              <p>Discord:{' '}</p>
              <p class="font-mono">seaweed#3846</p>
            </div>
          </li>

          <li>
            YouTube:{' '}
            <a 
              href="https://www.youtube.com/channel/UCokxkaw1HSQKNJPDtJHhDkg"
              target="_blank"
              class="font-mono underline decoration-2 decoration-violet-700 dark:decoration-violet-400
              underline-offset-2"
            >
              yashKarthik
            </a>
          </li>

          <li>
            Buy me a Coffee:{' '}
            <a 
              href="https://buymeacoffee.com/yashkarthik"
              target="_blank"
              class="font-mono underline decoration-2 decoration-violet-700 dark:decoration-violet-400
              underline-offset-2"
            >
              yashKarthik
            </a>
          </li>

          <li>
            LinkedIn:{' '}
            <a 
              href="https://www.linkedin.com/in/yashkarthik"
              target="_blank"
              class="font-mono underline decoration-2 decoration-violet-700 dark:decoration-violet-400
              underline-offset-2"
            >
              Yash Karthik
            </a>
          </li>

          <li>
            Ethereum:{' '}
            <ul class="ml-4 font-mono">
              <li>yashkarthik.eth</li>
              <li>0x33cc45d8B0336bFA830FB512b54b02a049277403</li>
            </ul>
          </li>

        </ul>
  </main>
</Layout>

<script>
  const copyButtons = document.querySelectorAll('li#copy-button')
  copyButtons.forEach((button) => {
    button.addEventListener('click', () => {
      alert('Button was clicked!');
    });
  });
</script>
