---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Interwebs" description="Where to find Yash on the internet." route="/links">
  <main class="self-center font-serif">
      <h1 class="text-xl mt-10 mb-7 font-bold font-serif-styled">Find me on the interwebs:</h1>
      <ul class="pl-7 list-disc marker:text-zinc-300 dark:marker:text-zinc-700 flex flex-col gap-2">

        <li>
          GitHub:{' '}
          <a 
            href="https://github.com/yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
              underline-offset-2
          ">
            yashkarthik
          </a>
        </li>

        <li>
          Twitter:{" "}
          <a
            href="https://twitter.com/_yashKarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
              underline-offset-2
          ">
            _yashkarthik
          </a>
        </li>

        <li>
          Farcaster:{" "}
          <a 
            href="https://www.discove.xyz/@yashkarthik?q=%28from%3Ayashkarthik%29&username=yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
              underline-offset-2
          ">
            yashkarthik
          </a>
        </li>

        <li>
          <div class="flex flex-row gap-1">
            <p>Discord:{' '}</p>
            <p class="
              pl-1
              font-mono font-light text-sm
            ">yashkarthik</p>
          </div>
        </li>

        <li>
          nf . td:{' '}
          <a 
            href="https://nf.td/yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
              underline-offset-2
          ">
            yashkarthik
          </a>
        </li>

        <li>
          YouTube:{' '}
          <a 
            href="https://www.youtube.com/channel/UCokxkaw1HSQKNJPDtJHhDkg"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
              underline-offset-2
          ">
            yashkarthik
          </a>
        </li>

        <li>
          Buy me a Coffee:{' '}
          <a 
            href="https://buymeacoffee.com/yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
              underline-offset-2
          ">
            yashkarthik
          </a>
        </li>

        <li>
          LinkedIn:{' '}
          <a 
            href="https://www.linkedin.com/in/yashkarthik"
            target="_blank"
            class="
              pl-1
              font-mono font-light text-sm
              underline decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
              underline-offset-2
          ">
            Yash Karthik
          </a>
        </li>

        <li>
          Ethereum:{' '}
          <ul class="
            ml-4
            pl-1
            font-mono font-light text-sm
          ">
            <li>yashkarthik.eth</li>
            <li>0x33cc45d8B0336bFA830FB512b54b02a049277403</li>
          </ul>
        </li>
      </ul>
  </main>
</Layout>

<script>
  const copyButtons = document.querySelectorAll('li#copy-button')
  copyButtons.forEach((button) => {
    button.addEventListener('click', () => {
      alert('Button was clicked!');
    });
  });
</script>
