---
import Layout from "../layouts/Layout.astro";
import { projects } from "../projects";
---

<Layout title="Engineering" description="Archive of recent projects by Yash Karthik">
  <main class="
    self-center font-serif
    max-sm:w-10/12
  ">
    <header class="
      items-start text-start 
      mb-7
    ">
      <h1 class="
        sm:text-4xl text-3xl 
        font-serif-styled font-black
        mt-10 mb-7
      ">
        Engineering
      </h1>

      <p class="
        mt-1
        text-md italic
        prose dark:prose-invert
      ">
        Robust, bleeding edge systems; <br>
        Random puzzles & scripts; <br>
        Graveyard of abandoned ideas.
      </p>
    </header>

    <article class="prose dark:prose-invert">
      {projects.map(project => (
        <article class="my-7">
        <h2 class="text-2xl font-serif-styled font-bold max-w-fit">{project.title}</h2>
          <p class="mb-3">{project.description}</p>
          <div class="flex flex-row gap-2 dark:text-zinc-400 ">
            { project.website && 
              <a href={project.website} target="_blank" class="
                text-sm italic
                underline underline-offset-2 decoration-2 decoration-dotted
                decoration-zinc-400 dark:decoration-zinc-500
                hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
              ">
                Visit
              </a>
            }
            <a href={project.github} target="_blank" class="
              text-sm italic
              underline underline-offset-2 decoration-2 decoration-dotted
              decoration-zinc-400 dark:decoration-zinc-500
              hover:decoration-[#00e100] dark:hover:decoration-[#00e100]
            ">
              GitHub
            </a>
          </div>
        </article>
      ))}
    </article>
  </main>
</Layout>
