---
import ProjectsMasterComponent from "./ProjectsMaster.tsx";

import { colorVariants } from "../colors.ts";
const { colorVariant } = Astro.props;
---

<main class="
  self-center
">
  <header class="
    text-start 
    mb-7
  ">
    <h1 class="
      sm:text-4xl text-3xl 
      font-serif-styled
      mb-3
    ">
      Projects
    </h1>

    <p class="
      text-md italic
      prose dark:prose-invert
    ">
      I can't <b>not</b> build, you see.
    </p>
  </header>

  <div class="">
    <ProjectsMasterComponent colorVariant={colorVariant} client:load />
  </div>
</main>
